{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1>Please sign in</h1>
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control"
                   autocomplete="email" required autofocus>
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password"
                   required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
        <div class="message">
            <p>New to this app?</p>
            <form class="register-form" action="{{ path('register_user') }}">
            <button class="register-button">
                Register Now
                <div class="inner-button">
                    <svg
                            id="Arrow"
                            viewBox="0 0 32 32"
                            xmlns="http://www.w3.org/2000/svg"
                            height="30px"
                            width="30px"
                            class="icon"
                    >
                        <defs>
                            <linearGradient y2="100%" x2="100%" y1="0%" x1="0%" id="iconGradient">
                                <stop style="stop-color:#FFFFFF;stop-opacity:1" offset="0%"></stop>
                                <stop style="stop-color:#AAAAAA;stop-opacity:1" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <path
                                fill="url(#iconGradient)"
                                d="M4 15a1 1 0 0 0 1 1h19.586l-4.292 4.292a1 1 0 0 0 1.414 1.414l6-6a.99.99 0 0 0 .292-.702V15c0-.13-.026-.26-.078-.382a.99.99 0 0 0-.216-.324l-6-6a1 1 0 0 0-1.414 1.414L24.586 14H5a1 1 0 0 0-1 1z"
                        ></path>
                    </svg>
                </div>
            </button>
            </form>
        </div>
    </div>
{% endblock %}
