{% extends 'base.html.twig' %}

{% block title %}Exercises!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 2px solid #1d3557;
        }

        th {
            background: #457b9d;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:hover {
            background-color: #219ebc;
        }

        .button-group {
            display: flex;
            gap: 10px;
        }

        .button-group button {
            padding: 5px 10px;
            margin-left: 5px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }

        .button-group button:hover {
            font-weight: bold;
        }

        .edit-btn {
            background: #ffb703;
        }
        .delete_btn {
            background: #ef233c;
        }
    </style>

    <div class="example-wrapper">
        <h1>Exercises</h1>

        <table>
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Muscle group</th>
                <th>Duration</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for exerciseLog in workout.exerciseLogs %}
                <tr>
                    <td>{{ exerciseLog.exercise.id }}</td>
                    <td>{{ exerciseLog.exercise.name }}</td>
                    <td>{{ exerciseLog.exercise.getMuscleGroup().getName() }}</td>
                    <td>{{ exerciseLog.duration }}</td>
                    <td>{{ exerciseLog.sets }}</td>
                    <td>{{ exerciseLog.reps }}</td>
                    <td>
                        <div class="button-group">
                            <form action="{{ path('edit_exercise', { 'id': exerciseLog.id }) }}">
                                <button class="edit-btn">
                                    Edit
                                </button>
                            </form>
                            <form action="{{ path('delete_exercise', { 'id': exerciseLog.id }) }}" method="delete">
                                <button class="delete_btn">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function editExercise(id) {
            console.log('edit', id);
        }

        function deleteExercise(id) {
            console.log('delete', id);
        }
    </script>
{% endblock %}