{% extends 'base.html.twig' %}

{% block title %}Exercise Log!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Exercises</h1>

        <table>
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Muscle group</th>
                <th>Duration</th>
                <th>Sets</th>
                <th>Reps</th>
            </tr>
            </thead>
            <tbody>
            {% for exerciseLog in workout.exerciseLogs %}
                <tr>
                    <td>{{ exerciseLog.exercise.id }}</td>
                    <td>{{ exerciseLog.exercise.name }}</td>
                    <td>{{ exerciseLog.exercise.getMuscleGroup().getName() }}</td>
                    <td>{{ exerciseLog.duration }}</td>
                    <td>{{ exerciseLog.sets }}</td>
                    <td>{{ exerciseLog.reps }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}