{% extends 'base.html.twig' %}

{% block title %}Workouts!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        h1 {
            margin: 20px 380px 50px 0;

        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 2px solid #1d3557;
        }

        th {
            background: #457b9d;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:hover {
            background-color: #219ebc;
        }

        .button-group {
            display: flex;
            gap: 10px;
        }

        .button-group button {
            padding: 5px 10px;
            margin-left: 5px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }

        .button-group button:hover {
            font-weight: bold;
        }

        .view-btn {
            background: #ffb703;
        }

        .delete_btn {
            background: #ef233c;
        }

        .header-group {
            display: flex;
            align-content: space-between;
        }

        .btn {
            margin-top: 20px;
        }
    </style>

    <div class="example-wrapper">
        <div class="header-group">
            <h1>Workouts</h1>
            <form action="{{ path('app_workout') }}">
                <button class="btn btn-primary btn-lg add_item_link">
                    Add a new Workout
                </button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for workout in workouts %}
                <tr>
                    <td>{{ workout.id }}</td>
                    <td>{{ workout.name }}</td>
                    <td>{{ workout.createdAt|date("F jS | g:i a") }}</td>
                    <td>
                        <div class="button-group">
                            <form action="{{ path('workout_exercises', { 'id': workout.id }) }}">
                                <button class="view-btn">
                                 View Exercises
                                </button>
                            </form>
                            <form action="{{ path('delete_workout', { 'id': workout.id }) }}" method="delete">
                                <button class="delete_btn">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <script>
        function showWorkouts(id) {
            console.log('showWorkouts', id);
        }
    </script>
{% endblock %}