{% extends 'base.html.twig' %}

{% block title %}Workouts!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="header-group">
            <h1>Workouts</h1>
            <form class="add-form" action="{{ path('app_workout') }}">
                <button class="add-btn">
                    <div class="sign">+</div>
                    <div class="text">Create</div>
                </button>
            </form>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for workout in workouts %}
                    <tr>
                        <td>{{ workout.id }}</td>
                        <td>{{ workout.name }}</td>
                        <td>{{ workout.createdAt|date("F jS | g:i a") }}</td>
                        <td>
                            <div class="button-group">
                                <form action="{{ path('workout_exercises', { 'id': workout.id }) }}">
                                    <button class="view-btn">
                                        <svg viewBox="0 0 24 24" class="svgIcon"><path d="M15 12c0 1.654-1.346 3-3
                                        3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18
                                        0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551
                                        11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"></path></svg>
                                    </button>
                                </form>
                                <form action="{{ path('delete_workout', { 'id': workout.id }) }}" method="delete">
                                    <button class="delete_btn">
                                        <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128
                                        32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3
                                        32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2
                                        0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6
                                        25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if app.user == null %}
        <div class="message">
            <p>You have to be logged in to see your Workouts!</p>
        </div>
        {% endif %}
    </div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    <script>
        function showWorkouts(id) {
            console.log('showWorkouts', id);
        }
    </script>
{% endblock %}